@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif;
}
header {
  height: 82px;
  display: flex;
  width: 100vw;
}
header .logo {
  width: 80.97px;
  height: 27.95px;
  margin-left: 210px;
  margin-top: 28px;
}
.links {
  width: 603px;
}
header nav li {
  list-style-type: none;
  display: inline;
  padding-right: 42px;
}
.links li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 80px;
  font-weight: 600;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  color: #1e266d;
}
.contact {
  margin-right: 200px;
  margin-left: 90px;
  justify-content: end;
  display: flex;
}
.contact div {
  padding-left: 40px;
}
.contact h3 {
  width: 163px;
  height: 80px;
  font-size: 18px;
  text-align: right;
  font-weight: 550;
  line-height: 80px;
  color: #1e266d;
}
a:link {
  color: black;
}
.contact .btn {
  width: 113px;
  height: 40px;
  font-size: 16px;
  margin-top: 22px;
  border-radius: 20px;
  line-height: 40px;
  background-color: #3751ff;
  color: #ffffff;
}
button {
  border: none;
}
.hero {
  height: 860px;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(242, 249, 255, 0.12) 0%,
    #f2f9ff 100%
  );
}
.hero h1 {
  height: 118px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 62px;
  text-align: center;
  color: #1e266d;
  padding: auto;
  padding-top: 144px;
}
.hero p {
  height: 27px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 550;
  line-height: 27px;
  text-align: center;
  color: #455880;
  padding-top: 145px;
}
.hero .btn {
  margin-top: 57px;
  margin-left: 610px;
}
.btn .btn-1 {
  width: 150px;
  height: 50px;
  font-size: 16px;
  border-radius: 25px;
  background: #3751ff;
  color: #ffffff;
}
.btn .btn-2 {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 550px;
  margin-left: 20px;
  border-radius: 25px;
  color: #455880;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
}
.btn + img {
  position: absolute;
  width: 977px;
  height: 585px;
  left: 342px;
  top: 509px;
}
.logo {
  width: 1180px;
  height: 112px;
  margin: 200px auto 40px auto;
}
.logo h3 {
  height: 27px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

  line-height: 27px;
  text-align: center;
  color: rgba(69, 88, 128, 0.5);
}
.logos {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  height: 112px;
  padding-top: 50px;
}
.logos img {
  height: 34px;
  width: 110px;
}
.logos img:nth-child(4) {
  width: 174px;
  height: 33px;
}

.about {
  width: 1219px;
  height: 932px;
  margin: auto;
  margin-top: 160px;
}
.about h1 {
  font-family: 'Popppins', sans-serif;
  width: 1200px;
  height: 120px;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 70px;
  /* margin-right: auto; */
  margin-left: 35px;
  text-align: center;
  color: #1e266d;
  word-spacing: -4px;
}
.about-1 {
  display: flex;
}
.about-1 .left {
  width: 611px;
  height: 932px;
}
.woman {
  position: absolute;
  top: 1420px;
  left: 407px;
}
.rectangle {
  position: absolute;
  top: 1895px;
  left: 713px;
  z-index: -1;
}
.man-2 {
  position: absolute;
  top: 1930px;
  left: 233px;
}
.ellipse {
  position: absolute;
  top: 2075px;
  left: 205px;
  z-index: -1;
}
.man-1 {
  position: absolute;
  top: 2063px;
  left: 443px;
}
.vector {
  position: absolute;
  top: 2285px;
  left: 611px;
  z-index: -1;
}
.about-1 .left {
  /* flex: 40%; */
  margin-top: -100px;
}
.about-1 .right {
  position: absolute;
  top: 1640px;
  left: 984px;
}
.right h4 {
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 27px;
  height: 59px;
  color: #1e266d;
}
.about .right p {
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 134px;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  color: #455880;
}
.right div {
  width: 405px;
  height: 193px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(69, 88, 128, 0.2);
  margin-right: 5px;
  display: flex;
}
.right div img {
  /* float: left; */
  padding-right: 47px;
}

.portfolio {
  width: 100vw;
  background: #fff9ea;
  text-align: center;
  height: 1012px;
  margin-top: 150px;
}
.portfolio h1 {
  font-family: 'poppins', sans-serif;
  /* width: 1178px; */
  height: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  padding-top: 140px;
  text-align: center;
  color: #1e266d;
  margin: 0 auto;
}
.portfolio p {
  /* width: 1178px; */
  height: 96px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 550;
  line-height: 35px;
  text-align: center;
  color: #455880;
  padding-top: 40px;
  margin: 60px auto;
}
.portfolio button {
  width: 148px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  padding-left: 33px;
  margin: 80px auto 35px auto;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #3751ff;
  border-radius: 100px;
}
.portfolio .images {
  width: 100vw;
}
.relative {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
}
.portfolio .one {
  position: absolute;
  left: 0px;
}
.portfolio .two {
  position: relative;
  left: 210px;
  top: 115px;
}
.portfolio .six {
  position: relative;
  top: -35px;
  left: -96px;
}
.portfolio .seven {
  position: relative;
  top: -16px;
  left: -431px;
}
.portfolio .six {
  position: relative;
  top: -35px;
  left: -96px;
}
.portfolio .three {
  position: relative;
  top: 175px;
  left: 174px;
}
.portfolio .eight {
  position: relative;
  top: -15px;
  left: -461px;
}
.portfolio .nine {
  position: relative;
  top: -15px;
  left: -498px;
}
.portfolio .four {
  position: relative;
  top: 230px;
  left: 141px;
}
.portfolio .ten {
  position: relative;
  top: -230px;
  left: 506px;
}
.portfolio .eleven {
  position: relative;
  top: -230px;
  right: -474px;
}
.portfolio .five {
  position: relative;
  top: 90px;
  left: 110px;
}
.testimonials {
  width: 1179px;
  height: 583px;
  margin: auto;
  margin-top: 210px;
  text-align: center;
}

.testimonials h1 {
  font-family: 'poppins', sans-serif;
  font-weight: bolder;
  font-size: 39px;
  line-height: 70px;
  color: #1e266d;
  padding-bottom: 46px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card-1,
.card-2,
.card-3 {
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 10px;
  width: 372px;
  height: 467px;
}
.card-2 {
  margin-left: 20px;
  margin-right: 20px;
}
.cards p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #455880;
}

.testimonials img {
  margin-top: 86px;
}
.card-1 img {
  margin-top: 56px;
}
.cards p:first-child {
  line-height: 32px;
  font-weight: 600;
  font-size: 16px;
  color: #455880;
  padding-left: 45px;
  padding-top: 40px;
  text-align: left;
}
.cards h3 {
  width: 268px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  color: #1e266d;
  margin: auto;
  padding-top: 20px;
}
.cards p:last-child {
  font-family: Halyard Text;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  padding: 0px 0 0 0;
  color: #455880;
}
.cta {
  width: 100vw;
  height: 323px;
  background-color: #3751ff;
  margin-top: 150px;
  display: flex;
}
.cta h1 {
  width: 1153px;
  height: 120px;
  font-weight: 550;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  margin: auto;
  margin-left: 205px;
}
.cta img {
  width: 29px;
  height: 29px;
}
.cta .left {
  position: absolute;
  top: 4585px;
  left: 1143.72px;
}
.cta span {
  color: orange;
}
.left button {
  width: 245px;
  height: 56px;
  border-radius: 56px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.left button img {
  margin-left: 25px;
}
.left button p {
  width: 161px;
  font-weight: 550;
  font-size: 16px;
  line-height: 12px;
  color: #455880;
}
.left button + p {
  color: #dfe0eb;
}
footer {
  width: 100vw;
  height: 660px;
  padding-top: 124px;
}
footer li {
  list-style-type: none;
}
footer a {
  text-decoration: none;
}
footer .flex {
  display: flex;
  flex: column;
}
.digits {
  width: 310px;
  height: 266px;
  margin-left: 204px;
}
.digits img {
  width: 70px;
  height: 26px;
  margin-bottom: 34px;
}
.digits p {
  font-family: 'Poppins' sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #455880;
}
.pages {
  width: 212px;
  height: 261px;
  margin-left: 184px;
}
.pages h3 {
  font-weight: 500px;
  font-size: 22px;
  color: #1e266d;
  margin-bottom: 22px;
}
.pages li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pages a {
  font-size: 20px;
  font-weight: 500;
  color: #455880;
}
.demos {
  width: 212px;
  height: 261px;
  margin-left: 15px;
}
.demos h3 {
  font-weight: 500px;
  font-size: 22px;
  color: #1e266d;
  margin-bottom: 22px;
}
.demos li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.demos a {
  font-size: 20px;
  font-weight: 500;
  color: #455880;
}
.resources {
  width: 217px;
  height: 261px;
  margin-left: 34px;
}
.resources h3 {
  font-weight: 550px;
  font-size: 22px;
  color: #1e266d;
  margin-bottom: 22px;
}
.resources img {
  padding-right: 21px;
  margin-bottom: 22px;
}
.resources p {
  margin-bottom: 12px;
}
.resources p a {
  font-size: 20px;
  font-weight: 500;
  color: #455880;
}
.bottom {
  width: 1184px;
  display: flex;
  margin: auto;
  margin-top: 77px;
  border-top: 1px solid rgba(135, 146, 161, 0.08);
}
.bottom .left {
  margin-top: 53px;
  width: 500px;
  text-align: left;
}
.bottom .right {
  margin-top: 53px;
  display: flex;
  flex: row;
  justify-content: right;
  width: 700px;
  height: 38px;
  margin-left: 675px;
  margin-bottom: 50px;
}
.bottom .left p {
  padding-left: 0;
}
.bottom p {
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 13px;
  color: #455880;
  padding-left: 20px;
}
.right p:first-child {
  padding-left: 50px;
}
.absolute {
  display: none;
}
@media only screen and (max-width: 430px) {
  header {
    width: 100vw;
    height: 82px;
  }
  nav {
    display: none;
  }
  header .logo {
    margin-left: 50px;
  }
  .contact {
    margin-right: 50px;
  }
  .contact h3 {
    display: none;
  }
  .hero {
    width: 100vw;
    height: 620px;
  }
  .hero h1 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: auto;
  }
  .hero p {
    padding-top: 50px;
  }
  .btn {
    display: block;
  }
  .btn .btn-1 {
    position: relative;
    width: 190px;
    top: 30px;
    left: -493px;
  }
  .btn-2 {
    position: absolute;
    width: 100px;
    left: 90px;
    top: 430px;
  }
  .btn + img {
    position: initial;
    width: 100%;
    margin: auto;
    padding-left: 15px;
  }
  .logo {
    width: 100%;
    height: 300px;
  }
  .logo h3 {
    font-size: 13px;
    margin-top: -100px;
  }
  .logos {
    width: 350px;
    display: grid;
    grid-template-columns: 180px 180px;
    margin: 10px 0 0px 38px;
    padding-right: 0px;
    grid-template-rows: 80px 80px 80px 80px;
  }
  .disney {
    margin-left: -10px;
  }
  .figma {
    margin-left: -12px;
  }
  .cinemax {
    margin-left: -20px;
  }
  .about {
    width: 100%;
    height: 2000px;
    margin-top: 120px;
  }
  .about h1 {
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  .about-1 {
    display: block;
    margin-left: 5px;
    margin-bottom: 100px;
  }
  .about .left {
    width: 100vw;
  }
  .about .left img {
    position: initial;
    width: 405px;
    height: 600px;
    padding: auto;
    border: 0;
  }
  .rectangle {
    display: none;
  }
  .man-2 {
    margin-top: -170px;
    padding-left: 15px;
  }
  .ellipse {
    display: none;
  }
  .vector {
    display: none;
  }
  .man-1 {
    padding-left: 25px;
    margin-top: -280px;
  }
  .about .right {
    position: initial;
    margin-top: 400px;
    margin-left: 5px;
  }
  .right h4 {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .about .right p {
    /* padding-right: 10px; */
    font-size: 16px;
    width: 275px;
    height: 100px;
  }
  .right div {
    width: 365px;
    height: 170px;
    margin-left: 20px;
  }
  .right div img {
    padding-top: 30px;
  }
  .portfolio {
    height: 2880px;
    margin-top: 30px;
  }
  .portfolio h1 {
    width: 100%;
    padding-top: 80px;
    margin-bottom: 100px;
  }
  .portfolio p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 100px;
  }
  .portfolio button {
    margin-bottom: 120px;
  }
  .relative {
    display: none;
  }
  .portfolio .one,
  .portfolio .two,
  .portfolio .three,
  .portfolio .four,
  .portfolio .five,
  .portfolio .six,
  .portfolio .seven,
  .portfolio .eight,
  .portfolio .nine,
  .portfolio .ten,
  .portfolio .eleven {
    position: initial;
    width: 100vw;
    margin: auto;
  }
  .portfolio .seven,
  .portfolio .ten,
  .portfolio .nine,
  .portfolio .eight {
    display: none;
  }
  .portfolio .one {
    padding-left: 7vw;
  }
  .portfolio .five {
    padding-right: 5vw;
  }
  .portfolio .six {
    padding-left: 8vw;
  }
  .portfolio .eleven {
    padding-right: 6vw;
  }
  .testimonials {
    width: 100%;
    height: 100vw;
    margin-top: 70px;
  }
  .testimonials h1 {
    font-size: 30px;
  }
  .cards {
    display: block;
  }
  .card-1,
  .card-2,
  .card-3 {
    margin: auto;
    margin-top: 20px;
  }
  .cta {
    width: 100%;
    height: 80vh;
    display: block;
    margin-top: 50px;
  }
  .cta h1 {
    width: 90%;
    font-size: 40px;
    margin: auto;
    padding-top: 40px;
  }
  .cta .left {
    position: absolute;
    margin: auto;
    top: 504rem;
    left: 60px;
  }
  .absolute {
    position: absolute;
    width: 100px;
    height: 100px;
  }
  .left button {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  footer {
    width: 100%;
    padding-top: 0;
  }
  footer .flex {
    display: block;
  }
  .digits {
    margin: auto;
    /* text-align: center; */
    width: 360px;
    padding-top: 50px;
  }
  .digits p {
    font-size: 23px;
    width: 340px;
    margin: auto;
  }
  .digits img {
    margin-left: 140px;
  }
  .pages {
    position: relative;
    width: 160px;
    left: -100px;
    margin-bottom: 30px;
    text-align: left;
  }
  .demos {
    position: absolute;
    left: 65vw;
    top: 528.95rem;
    width: 160px;
    text-align: left;
    margin: 0;
    /* margin-right: 0; */
  }
  .resources {
    position: absolute;
    left: 15vw;
    top: 546.87rem;
    text-align: center;
  }
  footer .flex {
    height: 800px;
  }
  .bottom {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    display: block;
    margin-bottom: 0;
  }
  .bottom .left {
    width: 100vw;
    margin-left: 0px;
    padding-top: 30px;
    position: initial;
    text-align: center;
    /* bottom: -40px; */
  }
  .bottom .right {
    width: 360px;
    margin-left: 50px;
    margin-top: -50px;
    text-align: center;
  }
}
@media only screen and (max-width: 380px) {
  header .logo {
    margin-left: 26px;
  }
  .contact {
    margin-right: 26px;
  }

  .btn .btn-1 {
    left: -520px;
  }
  .btn-2 {
    left: 65px;
  }
  .logos {
    margin-left: 15px;
  }
  .man-1 {
    width: 330px;
    padding-right: 50px;
    padding-left: 10px;
  }
  .right div {
    width: 340px;
    margin-left: 5px;
  }
  .right div img {
    padding-right: 15px;
  }
  .portfolio {
    height: 2610px;
  }
  .portfolio p {
    font-size: 16px;
  }
  .testimonials {
    margin-top: 50px;
  }
  .card-1,
  .card-2,
  .card-3 {
    margin-top: 5px;
    width: 350px;
  }
  .testimonials .cards p:first-child {
    padding-left: 30px;
    padding-right: 10px;
  }
  .cta {
    margin-top: 10px;
  }
  .cta .left {
    top: 483rem;
    left: 43px;
  }
  .pages {
    width: 150px;
    left: -120px;
  }
  .demos {
    width: 150px;
    top: 508.33rem;
  }
  .resources {
    top: 528rem;
  }
  .bottom .right {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 500px) {
  header .logo {
    margin-left: 5rem;
  }
  .contact {
    display: none;
  }
  nav {
    margin-left: 50px;
  }
  .hero {
    height: 820px;
  }
  .hero h1 {
    padding-top: 100px;
  }
  .hero p {
    padding-top: 150px;
  }
  .hero .btn {
    margin-left: 210px;
    margin-top: 100px;
  }
  .btn + img {
    position: initial;
    width: 100%;
    padding-left: 30px;
  }
  .logo {
    width: 700px;
  }
  .logos {
    padding-top: 60px;
    width: 700px;
    flex-flow: row;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px 30px;
  }
  .about {
    width: 100vw;
  }
  .about h1 {
    width: 85%;
  }
  .woman,
  .man-1,
  .man-2 {
    position: initial;
    margin-left: 0;
    width: 300px;
  }
  .man-2 {
    width: 430px;
    margin-left: 5px;
  }
  .man-1 {
    margin-left: 10px;
    margin-top: -20px;
    width: 250px;
  }
  .about .right div {
    width: 380px;
  }
  .about-1 .right {
    top: 1670px;
    left: 360px;
    width: 380px;
  }
  .about .right p {
    width: 250px;
    font-size: 14px;
  }
  .vector,
  .ellipse,
  .rectangle {
    display: none;
  }
  .portfolio {
    height: 93rem;
  }
  .portfolio button {
    margin-top: 130px;
  }
  .relative {
    display: none;
  }
  .portfolio .images {
    display: grid;
    grid-template-columns: auto auto;
  }
  .one {
    margin-left: 50px;
  }
  .two {
    margin-right: 15px;
  }
  .three {
    margin-left: 20px;
    margin-top: -25px;
  }
  .four {
    margin-top: -25px;
  }
  .five {
    margin-left: 33px;
    margin-top: -20px;
  }
  .six {
    margin-left: 27px;
    margin-top: -20px;
  }
  .eleven {
    margin-left: 30px;
    margin-top: -30px;
  }
  .portfolio .one,
  .portfolio .two,
  .portfolio .three,
  .portfolio .four,
  .portfolio .five,
  .portfolio .six,
  .portfolio .seven,
  .portfolio .eight,
  .portfolio .nine,
  .portfolio .ten,
  .portfolio .eleven {
    position: initial;
  }
  .portfolio .seven,
  .portfolio .ten,
  .portfolio .nine,
  .portfolio .eight {
    display: none;
  }
  .testimonials {
    width: 100vw;
    margin-top: 120px;
    height: 70rem;
  }

  /* .card-1,
  .card-2,
  .card-3 {
    width: 247px;
  }
  .card-1 {
    margin-left: 5px;
  }
  .cards p:first-child {
    font-size: 13px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .card-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
  .cards p:last-child {
    font-size: 15px;
    font-weight: 550;
  }
  .cta {
    margin-top: 100px;
  } */
  .cards {
    flex-flow: row wrap;
  }
  .card-1,
  .card-2,
  .card-3 {
    width: 350px;
  }
  .card-1,
  .card-3 {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .card-3 {
    margin: auto;
  }
  .cta {
    margin-top: 50px;
    height: 260px;
  }
  .cta h1 {
    width: 300px;
    font-size: 35px;
    margin-left: 50px;
  }
  .cta .left {
    position: initial;
    margin-top: 80px;
    margin-right: 70px;
  }
  footer .flex {
    flex-flow: row wrap;
  }
  .digits {
    width: 300px;
    flex: 100%;
    /* margin: auto; */
    justify-self: center;
    padding-left: 50px;
  }
  .pages {
    flex: 20%;
    margin-left: 50px;
  }
  .demos {
    flex: 20%;
  }
  .resources {
    flex: 20%;
  }
  .bottom {
    width: 85vw;
  }
  .bottom .left p {
    width: 250px;
  }
  .bottom .right {
    width: 400px;
    margin-left: 0;
  }
  .bottom .right p {
    width: 180px;
  }
  .right p:first-child {
    padding-left: 15px;
  }
}
