@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 82px;
    left: 0px;
    top: 0px;
    display: flex;
}
header .logo{
    width: 80.97px;
    height: 27.95px;
    padding-left:210px ;
    padding-top: 28px;
    flex: 20%;
}
header nav{
    height: 82px;
    justify-content: space-around;
    flex: 40%;
}
header nav li{
    list-style-type: none;
    display: inline-block;
    justify-content: space-around;
    padding: 0 30px;    
}
nav li a{
    text-decoration: none;
    line-height: 80px;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.contact{
    flex: 30%;
    padding-left: 140px;
    display: flex;
    font-weight: 400;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
}
.contact .btn{
    width: 163px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    background-color: #3751FF;
    color: #ffffff;

}
.contact div{
    padding-left: 50px;
}
.contact h5{
    font-weight: 400;
    line-height: 80px;
}
a:link{
    color: black;
}
.hero{
    height: 1350px;
}
.hero h1{
    height: 118px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 59px;    
    text-align: center;
    color: #1E266D;
    padding: auto;
    padding-top: 226px;
}
.hero p{
    height: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    line-height: 150%;    
    text-align: center;
    color: #455880;
    padding: auto;
    padding-top: 150px;   
}
.btn {
    margin: auto;
}
.btn .btn-1{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 800px;
    top: 500px;
    border-radius: 25px;
    
}
.btn .btn-2{
    position: absolute;
    width: 220px;
    height: 50px;
    left: 970px;
    top: 500px;
}
.btn + img{
    position: absolute;
    width: 1300px;
    height: 800px;
    left: 380px;
    top:580px;
}
.logo h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: rgba(69, 88, 128, 0.5);
    padding-bottom: 20px;
}
.logos{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin:0 auto;
    padding-top: 30px;
}
.logos img{
    height: 50px;
    width: 150px;
}
.about{
    width: 1400px;
    margin: auto;
    margin-top: 130px;
}
.about h1{
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
}
.about-1{
    display: flex;

}
.about-1 .left{
    flex: 40%;
    width: 800px;
    margin-top: -100px;
    padding-left: 100px;
}
.right{
    margin-top: 100px;
}
.right h4{
    padding-bottom: 20px;
}
.right h4,p{
   font-family: 'Poppins', sans-serif;
   font-size: 23px;
   line-height: 27px;
   color: #455880;
}
.right div{
    width: 500px;
    height: 200px;
    margin-top: 40px;
    border-bottom: solid 1px  #455880 ;
    margin-right: 40px;
    display: flex;
}
.right div img{
    float: left;
    padding-right: 30px; ;
}
.portfolio{
    background: #FFF9EA;
    text-align: center;
    margin-top: 200px;
}
.portfolio h1{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 90px; 
    padding-top: 200px;  
    /* text-align: center;     */
    color: #1E266D;
}
.portfolio p{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 500;
    line-height: 45px;    
    text-align: center;   
    color: #455880;
    padding-top: 40px;
}
.portfolio button{
    width: 190px;
    height: 63px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    padding-left: 48px;
    margin: auto;
    margin-top: 45px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3751FF;
    border-radius: 100px;
}
.portfolio img{
    width: 100vw ;
}
.testimonials{
    width: 70vw;
    height: 75vh;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background: chartreuse;
}
.testimonials h1{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #1E266D;
    padding-bottom: 50px;
}
.cards{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.card-1, .card-2, .card-3{
    /* margin: 20px 15px 0 15px; */
    background: aquamarine;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;  
    width: 430px;
}
.cards p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #455880;

}
.card-1{
    /* margin-right: 30px; */
}
.card-2{
    /* margin-right: 30px; */
}
.testimonials img{
    padding-top: 50px;
}.cards p:first-child{
    line-height: 40px;
    font-size: 20px;
    color: #455880;
    padding: 20px;
    height: 240px;
}
.cards h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;   
    color: #1E266D;
    padding-top: 30px;

}
.cards p:last-child{
    font-family: Halyard Text;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 180%;
/* or 32px */

text-align: center;

color: #455880;

}




