@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 82px;
    display: flex;
    width: 100vw;
}
header .logo{
    width: 80.97px;
    height: 27.95px;
    margin-left:210px ;
    padding-top: 28px;
}
header nav{
    display: flex;
    margin-left: 90px;
    width: 603px;
}
header nav li{
    list-style-type: none;
    display: inline;
    padding-right: 30px;
    font-size: 16px;
}
nav li a{
    text-decoration: none;
    line-height: 80px;
    font-weight: 400;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.contact{
    margin-left: 90px;
    display: flex;
}
.contact div{
    padding-left: 40px;
}
.contact h3{
    width: 163px;
    height: 80px;
    font-size: 16px;
    text-align: right;
    font-weight: 500;
    line-height: 80px;
}
a:link{
    color: black;
}
.contact .btn{
    width: 113px;
    height: 40px;
    margin-top: 22px;
    border-radius: 20px;
    line-height: 40px;
    background-color: #3751FF;
    color: #ffffff;

}
.hero{
    height: 1012px;
    width: 1600px;
}
.hero h1{
    height: 118px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 59px;    
    text-align: center;
    color: #1E266D;
    padding: auto;
    padding-top: 144px;
}
.hero p{
    height: 27px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;    
    text-align: center;
    color: #455880;
    padding-top: 145px;  
}
.btn {
    margin-top: 70px;
}
.btn .btn-1{
    width: 148px;
    height: 50px;
    margin-left: 620px;
    border-radius: 25px; 
    background: #3751FF;
}
.btn .btn-2{
    width: 199px;
    height: 50px;
    margin-left: 15px;
    border-radius: 25px;
} 
.btn + img{
    position: absolute;
    width: 977px;
    height: 585px;
    left: 342px;
    top:509px;
}
.logo{
    width: 1180px;
    height: 112px;
    margin: 40px auto;
}
.logo h3{
    height: 27px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: rgba(69, 88, 128, 0.5);
}
.logos{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    height: 112px;
    padding-top: 50px;
}
.logos img{
    height: 34px;
    width: 110px;
}
.logos img:nth-child(4){

    width: 174px;
    height: 33px;
}

.about{
    width: 1219px;
    height: 932px;
    margin: auto;
    margin-top: 160px;
}
.about h1{
    font-family: 'Popppins', sans-serif;
    width: 1214px;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
}
.about-1{
    display: flex;

}
.left img{
    width: 611px;
    height: 932px;
}
.about-1 .left{
    flex: 40%;
    margin-top: -100px;
}
.right{
    margin-top: 100px;
}
.right h4{
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    line-height: 27px;
    height: 59px;
    color: #1E266D;

}
.right p{
    font-family: 'Poppins', sans-serif;
    width: 300px;
    height: 134px;
    font-size: 18px;
    line-height: 27px;
   color: #455880;
}
.right div{
    width: 405px;
    height: 193px;
    margin-top: 40px;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    margin-right: 5px;
    display: flex;
}
.right div img{
    float: left;
    padding-right: 30px; ;
}

.portfolio{
    background: #FFF9EA;
    text-align: center;
    height: 1001px;
    margin-top: 200px;
}
.portfolio h1{
    font-family: 'poppins', sans-serif;
    width: 1178px;
    height: 60px;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px; 
    padding-top: 140px;  
    text-align: center;    
    color: #1E266D;
    margin: 0 auto;
}
.portfolio p{
    width: 1178px;
    height: 96px;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;    
    text-align: center;   
    color: #455880;
    padding-top: 40px;
    margin: 50px auto;
}
.portfolio button{
    width: 148px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    padding-left: 33px;
    margin: auto;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3751FF;
    border-radius: 100px;
}
.portfolio img{
    width: 100vw ;
}
/*
.testimonials{
    width: 70vw;
    height: 75vh;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    background: chartreuse;
}
.testimonials h1{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #1E266D;
    padding-bottom: 80px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card-1, .card-2, .card-3{
    background: aquamarine;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 10px;  
    width: 430px;
}
.cards p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #455880;

}

.testimonials img{
    padding-top: 120px;
}.cards p:first-child{
    line-height: 40px;
    font-size: 20px;
    color: #455880;
    padding: 20px;
    padding-top: 50px;
    height: 240px;
}
.cards h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;   
    color: #1E266D;
    padding-top:30px;

}
.cards p:last-child{
    font-family: Halyard Text;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 0 30px 0;
    color: #455880;
}
.cta{
    width: 1600px;
    height: 350px;
    background-color: aqua;
}



 */
